.card {
    height: 300px;
    width: 100%;
    border-radius: 10px;
    background: linear-gradient(180deg, #FF6060, rgba(0, 0, 0, 0.5));
    justify-self: center;
    display: flex;
    align-items: end;
    text-decoration: none;
}

.text {
    color: white;
    margin: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
}