.container {
    width: 80%;
    margin: 3% 10%;
    position: relative;
    overflow: hidden;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #FF6060;
    border-radius: 5px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 24px;
}

.head i {
    cursor: pointer;
    transform: rotate(0deg);
    transition: transform 0.3s linear;
}

.content {
    max-height: 0px;
    min-width: 100%;
    transition: max-height 0.3s linear;
    background-color: #F6F6F6;
    border-radius: 5px;

}

.text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 3%;
    height: 100%;
    width: 94%;
    z-index: -1;
    background-color: transparent;
    color: #FF6060;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 24px;
    visibility: hidden;
    transition: visibility 0.1s linear;
}

.text p {
    margin: 0px;
    width: 100%;

}




@media (max-width: 750px) {
    .container {
        width: 90%;
        margin: 5% 5%;
    }

    .text {
        font-size: 12px;
    }

    .head {
        font-size: 13px;
    }
}