.header {
    width: 90%;
    height: 25vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0% 5%;
}

.img {
    height: 60px;
}

.navigation {
    display: flex;
    gap: 40px;
}

.navigation a {
    color: #FF6060;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 24px;
}

.navigation a:hover {
    text-decoration: underline;
}


@media (max-width: 850px) {
    .header {
        height: 15vh;
    }

    .img {
        height: 40px;
    }

    .navigation {
        gap: 20px;
    }

    .navigation a {
        font-size: 18px;
        text-transform: uppercase;
    }
}